@page "/fotos"


    
<div class="container" id="album">
    @for(int i = 0; i < 3; i++)
    {
        <img src="https://es.rollingstone.com/wp-content/uploads/2023/07/El-multiverso-de-sonoridades-de-Camilo-Septimo.jpg" />
        <img src="https://akamai.sscdn.co/uploadfile/letras/fotos/f/8/6/3/f86319c4f2050fbf74263e8ed6617024.jpg" />
        <img src="https://cdn.milenio.com/uploads/media/2021/06/03/concierto-dara-camilo-septimo-stage_0_299_1200_747.jpg" />
    }
</div>

