@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("slider")
<div class="text-center">
    <br />
    <h1 class="display-4">Mexican Indie Rock</h1>
    <br />
    <h2>¿Como nace la banda?</h2>
    <br />
    <p>La banda Camilo Séptimo es una banda de música indie originaria de la Ciudad de México, México. Surgió en 2013 cuando tres amigos de la infancia, Manuel Mendoza (voz y guitarra), Jonathan Meléndez (batería) y Erik Vásquez (bajo), se unieron para formar la banda. Su nombre proviene del séptimo día de la semana, el domingo, cuando comenzaron a tocar juntos y experimentar con su sonido característico. A lo largo de los años, han ganado reconocimiento en la escena musical mexicana por su estilo melódico y letras emotivas. Camilo Séptimo se ha convertido en una de las bandas indie más influyentes de México y ha consolidado su presencia en la música alternativa latinoamericana.</p>
    <br />
    <h3>Genero, crecimiento y popularidad</h3>
    <br />
    <p>Camilo Séptimo se caracteriza por su estilo musical que abarca el indie pop, el dream pop y el synth-pop. Su música a menudo se destaca por melodías envolventes, letras emotivas y una mezcla de sonidos electrónicos y orgánicos. La banda se ha destacado por su enfoque independiente en la industria de la música. Han mantenido el control creativo y la producción de su música, lo que les ha permitido desarrollar un sonido distintivo y auténtico. La banda ha realizado numerosas giras tanto en México como en otros países, ganando una base de fanáticos leales en América Latina y más allá. Sus actuaciones en vivo suelen ser muy aclamadas por la energía y la emotividad que transmiten.</p>
</div>
